# Basics (Mosh Tutorial)

In [1]:
print("Hello World!")

Hello World!

In [2]:
age=20
price=150.5
is_online=False
first_name="Amira"
print(age)

20

In [3]:
name="John Smith"
age=20
is_new=True

In [4]:
name=input("What is your name ? ")
print("Hi "+name)

What is your name ? amira
Hi amira

In [5]:
birth_year=input("Enter your birth year : ")
age=2022-int(birth_year)
print(age)

Enter your birth year : 2001
21

In [6]:
first_num=input("Enter first number : ")
second_num=input("Enter second number : ")
sum=int(first_num)+int(second_num)
print("Sum = "+str(sum))
print(float(first_num)+float(second_num))

Enter first number : 12
Enter second number : 12
Sum = 24
24.0

In [7]:
course="Basics for Beginners"
print(course.upper())
print(course.lower())
print(course.find('for'))
print(course.replace('for','4'))
print(course.replace('by','4'))

BASICS FOR BEGINNERS
basics for beginners
7
Basics 4 Beginners
Basics for Beginners

In [8]:
print('for' in course)

True

In [9]:
print(10/3)
print(10//3)
print(10%3)
print(10**3)

3.3333333333333335
3
1
1000

In [10]:
x=10
x+=3     # augmented assignment operator
x-=3
x*=3

In [11]:
x= 2!= 3
print(x)

True

In [12]:
price=25
print(price>10 and price<30 )
print(price>10 and price>30 )
print(not price>10 )

True
False
False

In [13]:
temprature=40
if temprature > 30:
    print("It's a hot day !")
elif temprature > 20:
    print("It's a nice day!")
else:
    print("It's cold")

It's a hot day !

In [14]:
weight=input("Enter your weight : ")
unit=input("kg or lbs : ")
if unit.upper()=="KG":
    convert=float(weight) / 0.45
    print("Weight in Lbs = "+str(convert))
else:
    convert=float(weight) * 0.45
    print("Weight in Kg = "+str(convert))

Enter your weight : 66
kg or lbs : kg
Weight in Lbs = 146.66666666666666

In [15]:
i=1
while i <10:
    print(i*"*")
    i+=1

*
**
***
****
*****
******
*******
********
*********

In [16]:
names=['Amira','Sara','Menna','Esraa']
print(names)
print(names[-1])
names[-1]='Amal'
print(names)

['Amira', 'Sara', 'Menna', 'Esraa']
Esraa
['Amira', 'Sara', 'Menna', 'Amal']

In [17]:
numbers=[1,2,3,4,5]
print(numbers)
numbers.insert(0,-1)
print(numbers)
numbers.remove(3)
print(numbers)
print(-1 in numbers)
print(len(numbers))

[1, 2, 3, 4, 5]
[-1, 1, 2, 3, 4, 5]
[-1, 1, 2, 4, 5]
True
5

In [18]:
numbers.clear()
print(numbers)

[]

In [19]:
numbers_list=[1,2,3,4,5]
for i in numbers_list:
    print(i)

1
2
3
4
5

In [21]:
numbers=range(1,10,2)
for num in numbers :
    print(num)

1
3
5
7
9

In [22]:
numbers=(1,2,3,4,4,4)
print(numbers.count(4))
print(numbers.index(4))

3
3

# Python Data Analyst's Toolkit Learn
## Chapter 1

In [23]:
x=91.23456
print("The value of x upto 3 decimal points is {:.3f}".format(x))

The value of x upto 3 decimal points is 91.235

In [24]:
x="Amira"
y="Sultan"
print("Hello my name is {0} {1}".format(x,y))

Hello my name is Amira Sultan

In [25]:
age=input("Enter your age : ")
print("IN 2010,you were ",int(age)-12,"years old !")

Enter your age : 20
IN 2010,you were  8 years old !

In [26]:
(1+9)/2-3

2.0

In [27]:
(2>1) and (1>5)

False

In [28]:
(2>1) or (1>5)

True

In [29]:
not(1>2)

True

In [30]:
x=3
y=x
z=y
x is z

True

In [31]:
"a" in "and"

True

In [32]:
"a" not in "or"

True

In [33]:
type(45.5)

float

## list , range , tuple are sequences

In [34]:
# Dictionary
x={'Apple':'Fruit'}
print(x)
print(len(x))
print(type(x))

{'Apple': 'Fruit'}
1
<class 'dict'>

In [35]:
# import module called >> datetime
import datetime

In [36]:
date=datetime.date(year=2001, month=10,day=14)
print(date)

2001-10-14

# Note :
### three arguments of date method is mandatoryyy(year,month,day)
### if you skip any of these arguments while defining a date object error will occur 
### arguments can passed to time method include(hours,mintues,seconds,miliseconds)>>>are'nt mandatory

In [37]:
timee=datetime.time(hour=10,minute=30,second=59)
print("Time : ",timee)

Time :  10:30:59

In [38]:
datetime=datetime.datetime(year=2022,month=10,day=14,hour=12,minute=0,second=1)
print(datetime)

2022-10-14 12:00:01

# Note
### timedelta object represent a specific duration of time and is created usind timedelta method

### A timedelta object can be added to an existing date or datetime object, but not to a time object

In [ ]:
timedelta1=datetime.timedelta(weeks=2,days=3)
timedelta1

In [ ]:
date=datetime.date(year=2001,month=10,day=14)
time_delta=datetime.timedelta(weeks=2,days=3)
date+time_delta

In [ ]:
date1=datetime.date(year=1995,month=1,day=1)
timedelta1=datetime.timedelta(weeks=2,days=3)
date1+timedelta1

In [ ]:
#adding a duration to a date object is supported
date1=datetime.date(year=1995,month=1,day=1)
timedelta1=datetime.timedelta(weeks=2,days=3)
date1+timedelta1

# Working with string

In [41]:
x="python"
print(len(x))
print(x[1])       # access individual character
print(x[:3])      # slicing   
print(x[::-1])    # reverse the word

6
y
pyt
nohtyp

## Justification
### rjust,ljust,center methods used >> first argument passed is the lenght of new string , second is character used for padding

In [42]:
print('Amira'.ljust(7,'$'))
print('Amira'.center(7,'$'))

Amira$$
$Amira$

In [43]:
'AMIRA'.lower()

'amira'

In [44]:
print('weather'.startswith('w'))     # check the start 
print('weather'.endswith('w'))

True
False

## Strip for removing spaces (rstrip,lstrip)

In [45]:
'   start'.lstrip()

'start'

### methods to check what a string contains (isalpha, isupper, isdigit, isalnum)   >> return tue or false

In [46]:
'Amira123'.isdigit()

False

In [47]:
'Amira123'.isalnum()

True

### join method combines a list of strings into one string

In [48]:
' * '.join(['python','is','easy','to','learn'])

'python * is * easy * to * learn'

### split method opposite of join method

In [49]:
'python is easy to learn'.split()

['python', 'is', 'easy', 'to', 'learn']

# conditional statement

In [50]:
# python doesn't hav e switch case

In [51]:
color=input("Enter color between these : Red , Green , Blue")
colorr=color.lower()
if colorr=='red':
    print("Your Fav Color is Red")
elif colorr=='green':
    print("Your Fav Color is Green"
elif colorr=='blue':
    print("Your Fav Color is Blue")    
else:
    print("wrongg")

SyntaxError: invalid syntax (<ipython-input-51-24cda47e9e37>, line 7)

In [53]:
color=input('Enter one of the following colors - red, orange or blue:')
if color=='red':
    print('Your favorite color is red')
elif color=='orange':
    print('Your favorite color is orange')
elif color=='blue':
    print('Your favorite color is blue')
else:
    print("You entered the wrong color")

Enter one of the following colors - red, orange or blue:red
Your favorite color is red

# Loops

### iterable objects include (list,tuple,dictionary,string)

In [54]:
sum=0
for i in range(1,10,2):
    sum+=i
print(sum)

25

In [55]:
for i in 'abcd':
    for j in range(4):
        print(i,end=" ")
    print("\n")

a a a a

b b b b

c c c c

d d d d

In [56]:
def check_prime(i):
    is_prime=True
    for j in range(2,i):
        if i%j==0:
            is_prime=False
    if is_prime:
        print(i,"is prime")
    else:
          print(i,"isn't prime")
for i in range(10,20):
    check_prime(i)

10 isn't prime
11 is prime
12 isn't prime
13 is prime
14 isn't prime
15 isn't prime
16 isn't prime
17 is prime
18 isn't prime
19 is prime

## Anonymous or lambda functions
###  single-expression functions and provide a compact way of defining a function without binding the function object to a name.
### calculate the sum of two numbers

In [57]:
(lambda x,y:(x+y))(4,5)

9

# Syntax error and Exception
### Note>>> all exceptions are objects that are derived from the class BaseException, and follow a hierarchy

In [58]:
while True:
    try:
        num=int(input("Enter an integer number  : "))
        print("You obtained a score = ",str(num))
        break
    except ValueError:
        print("Enter only integer value : ")

Enter an integer number  : 12
You obtained a score =  12

# Modules in Python
### A module can also contain another module. The matplotlib module, for instance, contains a module called pyplot.

In [59]:
# import module
import matplotlib

In [60]:
# import part of module (submodule,function)
from math import cos

In [61]:
import os
os.getcwd()

'C:\\Users\\Admin\\OneDrive\\Untitled Folder'

# Chapter 2

## Exploring Containers,Classes, and Objects

### Containers are objects that contain multiple values , these values can be from the same type or different Also called iterable

In [62]:
# (lists ,tuples,dictionaries,sets) bulit in python

### Lists (mutable and stored in sequential order)

In [63]:
colors=['Red','Green','Blue','Grey','Black']
print(colors[0])
colors.append('White')          # 1 argument
print(colors)
colors.insert(2,'pink')         # 2 arguments(index,value)
print(colors)
colors.extend([1,2,3])          # take another list as argument
print(colors)

Red
['Red', 'Green', 'Blue', 'Grey', 'Black', 'White']
['Red', 'Green', 'pink', 'Blue', 'Grey', 'Black', 'White']
['Red', 'Green', 'pink', 'Blue', 'Grey', 'Black', 'White', 1, 2, 3]

In [64]:
del colors[2]        # delete specific element
print(colors)
colors.remove('Grey')        # when knowing the value not index
print(colors)

['Red', 'Green', 'Blue', 'Grey', 'Black', 'White', 1, 2, 3]
['Red', 'Green', 'Blue', 'Black', 'White', 1, 2, 3]

In [65]:
colors.pop()          # pop the last element
print(colors)

['Red', 'Green', 'Blue', 'Black', 'White', 1, 2]

In [66]:
colors.pop(2)           # pop specific value with index
print(colors)

['Red', 'Green', 'Black', 'White', 1, 2]

In [67]:
colors.index('Red')        # find the value of that index

0

### Note that len is a function, not a method. A method can be used only with an object

In [68]:
len(colors)

6

In [69]:
del colors[-1]
del colors[-1]

In [70]:
colors.sort()                # by default ascending order
print(colors)                # list must be homogeneous(from the same type)

['Black', 'Green', 'Red', 'White']

In [71]:
colors.sort(reverse=True)        # reverse with order         
print(colors)

['White', 'Red', 'Green', 'Black']

In [72]:
colors.reverse()              # reverse without order
print(colors)

['Black', 'Green', 'Red', 'White']

In [73]:
colors[:]

['Black', 'Green', 'Red', 'White']

In [74]:
colors[: : 2]        # index of 2 for steps

['Black', 'Red']

In [75]:
print(colors[-1:-5:-2])

['White', 'Green']

### for creating new list from existing list (list,comprehensions, the map function, and the filter) functions

### comprehensions

In [76]:
color1=[color for color in colors if 'e' in color]      # new_list=[output_expression , colors(origina_list) in(opitional_condition)]
color1

['Green', 'Red', 'White']

In [77]:
color2=[]                        # the code is more extended
for color in colors:
    if 'e' in color:
        color2.append(color)
print(color2)

['Green', 'Red', 'White']

### Map function

In [78]:
colors=['violet','indigo','red','blue','green','yellow']
colors1=map(lambda x:x.upper(),colors)           # 2 argument (function to be applied , list in which function is to be applied)
colors1

In [79]:
#The function returns a map object, and the list function needs to be used to convert it to a list
list(colors1)

['VIOLET', 'INDIGO', 'RED', 'BLUE', 'GREEN', 'YELLOW']

### Filter Function

In [80]:
# The syntax of the filter function is similar to that of the mapfunction

In [81]:
colors2=filter(lambda x:len(x)<5 ,colors)
colors2

In [82]:
list(colors2)

['red', 'blue']

### Iterating through multiple lists using the zip function

In [83]:
# The zip function provides a way of combining lists and performing operations jointly on these lists.
# lists that need to be combined are passed as arguments to the list function.

In [84]:
colors=['Red','Green','Blue','White','Black','Grey','Pink']
colors_id=[1,2,3,4,5,6,7]
for i,j in zip(colors,colors_id):
    print(i,"has seial number of ",j)

Red has seial number of  1
Green has seial number of  2
Blue has seial number of  3
White has seial number of  4
Black has seial number of  5
Grey has seial number of  6
Pink has seial number of  7

In [85]:
# zip function returns a list of tuples, stored in object of type(zip).
# type of object need to be changed to the list type to view the tuples.
list(zip(colors,colors_id))

[('Red', 1),
 ('Green', 2),
 ('Blue', 3),
 ('White', 4),
 ('Black', 5),
 ('Grey', 6),
 ('Pink', 7)]

### Enumerate Function

In [86]:
# enumerate function  return series of tuples  , each contain(item,its index).
colors=['Red','Green','Blue','White','Black','Grey','Pink']
for index,item in enumerate(colors):
    print(item,'occur at index ',index)

Red occur at index  0
Green occur at index  1
Blue occur at index  2
White occur at index  3
Black occur at index  4
Grey occur at index  5
Pink occur at index  6

### Concatenate of lists

In [87]:
x=[1,2,3]
y=[1,4,5,6,7]
x+y              # doesn't change the original list

[1, 2, 3, 1, 4, 5, 6, 7]

In [88]:
i=[1,2,3]
j=[1,4,5,6,7]
i.extend(j)      # change the original list     # other arthimatic operators can't used to combi
print(i)

[1, 2, 3, 1, 4, 5, 6, 7]

In [89]:
x=[1,2,3,4]
y=[5,6,7,8]
z=[i-j for i,j in zip(x,y)]
z

[-4, -4, -4, -4]

### Tuples (immutable, stores items sequentially) & ( )
### Speed: In terms of speed of access and retrieval of individual elements, a tuple performs better than a list.

In [90]:
# can be defined with or without parenthesis
# tuple can contain just one element.
x=1,2,3
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [91]:
y=(1,2,3)
print(y)
print(type(y))

(1, 2, 3)
<class 'tuple'>

In [92]:
c=1
type(c)

int

In [93]:
C=1,
type(C)

tuple

In [94]:
# tuple can contain objects of any built-in data type, like floats, strings, Boolean values.

In [95]:
# frequency of object in tuples
x=(1,2,3,1,2,3,1,23,4)
x.count(1)

3

In [96]:
# location or index of item
x.index(23)

7

In [97]:
x.index(1)         # first occurence only

0

In [98]:
# Tuple unpacking
y=('a','b','c','d',1,2)
a,b,c,d,e,f=y                # store each individual values into separate variable
a,b,c,d,e,f

('a', 'b', 'c', 'd', 1, 2)

In [99]:
a,*_=y             # (*_) to unpack elements occuring after the first element into a list.
print(a,_)

a ['b', 'c', 'd', 1, 2]

In [100]:
# length if tuple
len(y)

6

In [101]:
y[::2]            # step=2

('a', 'c', 1)

## Applications of tuples

In [102]:
# creating dictionary from tuple.        # key mapping to values.
# Tuples can be used for defining the items while creating a dictionary.
# dictionary item is a tuple & dictionary can be defined as list of tuples, using dict method.
x=dict([('Color','Pink'),('Flower','Rose')])
x

{'Color': 'Pink', 'Flower': 'Rose'}

In [103]:
# Multiple assignment.
# tuple unpacking.
a,b,c,d=range(0,8,2)
print(a,b,c,d)

0 2 4 6

## Dictionaries
### Values aren't stored in sequential order &( mutable ) & { }

In [104]:
# container contains set of items , mapping each item to value.
dic={'Color':'Red','Language':'English'}
dic

{'Color': 'Red', 'Language': 'English'}

In [105]:
dictt=dict([('Color','Red'),('Language','English')])            # List of tuples
dictt

{'Color': 'Red', 'Language': 'English'}

In [106]:
# adding item:
dictt['height']=168
dictt

{'Color': 'Red', 'Language': 'English', 'height': 168}

In [107]:
# access key in dictionary:
dictt.keys()

dict_keys(['Color', 'Language', 'height'])

In [108]:
# access value in dict:
dictt.values()

dict_values(['Red', 'English', 168])

In [109]:
# access key/value pairs
dictt.items()

dict_items([('Color', 'Red'), ('Language', 'English'), ('height', 168)])

In [110]:
# access individual values
dictt['Color']

'Red'

In [111]:
dictt.get('height')

168

In [112]:
# setting default values for the key.
# If the key/value pair is already defined, the default value is ignored.
# There is another method, setdefault, which can also be used for this purpose.
# Note that the get method does not change the dictionary object, while the setdefault method ensures that the changes are reflected in the object.

dictt.setdefault('age',20)
dictt

{'Color': 'Red', 'Language': 'English', 'height': 168, 'age': 20}

In [113]:
dictt.setdefault('Color','Red')
dictt

{'Color': 'Red', 'Language': 'English', 'height': 168, 'age': 20}

In [114]:
dictt.setdefault('Color','Redd')     # if the item exist ,the setdefault doesn't make change.
dictt

{'Color': 'Red', 'Language': 'English', 'height': 168, 'age': 20}

In [115]:
dictt.get('city','Domiat')            # doesn't make any change(doesn't add the value to dictionary)
dictt

{'Color': 'Red', 'Language': 'English', 'height': 168, 'age': 20}

In [116]:
# remove all pairs
dictt.clear()
dictt

{}

## Sets (aren't ordered or indexed)
### it's collection of unique elements & itn't throw error while duplicate elements & dupliactes will be ignored

In [117]:
a={1,1,2,2,3,4}
a

{1, 2, 3, 4}

### Set Operations:

In [118]:
# lenght of set
len(a)

4

In [119]:
# iteration 
for i in a:
    print(i)

1
2
3
4

In [120]:
a.add(10)
a

{1, 2, 3, 4, 10}

In [121]:
a.update([20,30])
a

{1, 2, 3, 4, 10, 20, 30}

In [122]:
a.add(100)
a

{1, 2, 3, 4, 10, 20, 30, 100}

In [123]:
# When we try to delete an element that is not in the set, the discard method does not give an error, whereas the remove method gives a KeyError.
a.remove(100)
a

{1, 2, 3, 4, 10, 20, 30}

In [124]:
a.discard(100)
a

{1, 2, 3, 4, 10, 20, 30}

In [125]:
a.remove(50)           # already not found

KeyError: 50